{% extends "base.html" %}
{% block content %}
    <p>Te enviamos tu nueva Secret Access Key para tu cuenta de AWS:</p>
    <table>
    <tr>
        <th style="text-align:left">UserName</th>
        <td>:</td>
        <td>{{ data['UserName'] }}</td>
    </tr>
    <tr>
        <th style="text-align:left">AccessKeyId</th>
        <td>:</td>
        <td>{{ data['AccessKeyId'] }}</td>
    </tr>
    <tr>
        <th style="text-align:left">SecretAccessKey</th>
        <td>:</td>
        <td>{{ data['SecretAccessKey'] }}</td>
    </tr>
    <tr>
        <th style="text-align:left">CreateDate</th>
        <td>:</td>
        <td>{{ data['CreateDate'] }}</td>
    </tr>
    <tr>
        <th style="text-align:left">Status</th>
        <td>:</td>
        <td>{{ data['Status'] }}</td>
    </tr>
    </table>
{% endblock %}